* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    text-align:center;
}

body {
    display:flex;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
ul:nth-child(even) {
    background: #cff1ff;
}
#headerUl, ul {
    margin: 5px;
}
